[Unit]
Description=Xray Service (Vortex-x Managed)
Documentation=https://github.com/xtls
After=network.target nss-lookup.target

[Service]
User=vortex-x
CapabilityBoundingSet=CAP_NET_ADMIN CAP_NET_BIND_SERVICE
AmbientCapabilities=CAP_NET_ADMIN CAP_NET_BIND_SERVICE
NoNewPrivileges=true
ExecStartPre=/usr/bin/env python3 /usr/local/lib/vortex-x/scripts/repair_xray_config.py
ExecStart=/usr/local/bin/xray run -config /usr/local/etc/xray/config.json
ExecReload=/bin/kill -SIGHUP $MAINPID
Restart=on-failure
RestartPreventExitStatus=23
LimitNPROC=10000
LimitNOFILE=1000000

[Install]
WantedBy=multi-user.target
